@import "tailwindcss";

@theme {
 
  --color-brand-bg: #110f1b; 
 
  --color-field-bg: #1c1a26;
  
  --color-brand-purple: #7c3aed; 
}


html, body, #root {
  background-color: #110f1b;
  color: white;
  margin: 0;
  min-height: 100vh;
}